div#header
	| &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	a(class='header' href='/') Home
	| &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	a(class='header' href='/products') Products
	| &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	a(class='header' href='/add-product') Add Product
	| &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;