/* Text Styling */
#header {
	text-align: center;
	font-size: 24;
	font-family: sans-serif;
}

#footer {
	text-align: center;
	font-size: 24;
	font-family: sans-serif;
	text-decoration: none;
	color: white;
}

#welcome {
	text-align: center;
	font-size: 36;
	font-family: sans-serif;
	text-decoration: none;
	color: white;
}

/* Background Colour*/
body {
	background-color: #6cc4ff;
}

/* Header Links, button styled */
a.header:link, a.header:visited {
	background-color: #7b359c;
	color: white;

	padding: 20px 20px;
	text-align: center;
	font-family: sans-serif;
	text-decoration: none;
	display: inline-block;
	width: 200px;
	border-radius: 50px;
	margin: 10px;
}
  
a.header:hover, a.header:active {
	background-color: #a767c5;
}
