html
	head
		link(rel='stylesheet' href='/styles.css')
		title Lab #1 COMP4601

body
	div#header
		br
		include ../partials/header	
		br

	div#welcome
		br
		h1 Lab #1 [COMP 4601]
		br
		h2 Kyle Eng 101192595 
		
		br

	div#footer
		br
		include ../partials/footer
		br